process {
    executor = 'local'
    resourceLimits = [
        cpus: 1,
        memory: '1.GB',
        time: '15.m'
    ]
}

params {
    // Adjust to match qc_parser.py expectations (string passed to -qc_thresholds)
    qc_thresholds = "GCrangePct:42-47.5,AvgQscore:28,RefLenCov:20,MeanCovDepth:20"
    enable_conda = false
}
