/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    publish_dir_mode                  = "copy"
    test_data_base                    = "https://raw.githubusercontent.com/CDCgov/oamd-bio-test-data/modules"
    modules_testdata_base_path        = "${params.test_data_base}/data"
    nfcore_test_data_base             = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"
    nfcore_modules_testdata_base_path = "${params.nfcore_test_data_base}/data"
    pipelines_testdata_base_path      = "https://raw.githubusercontent.com/CDCgov/oamd-bio-test-data"
}
