aws {
  batch {
    cliPath = '/home/ec2-user/miniconda/bin/aws'
    maxSpotAttempts = 3
  }
  region = 'us-east-1'
}
process {
  queue = 'amdp-dev-batch-ec2-job-queue'
  executor = 'awsbatch'
  maxRetries = 3
  errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
}
//docker.registry = '025066257930.dkr.ecr.us-east-1.amazonaws.com'
wave.enabled = false
fusion.enabled = false
