/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Container configuration for Mycosnp 1.6.4+oamd.1.0.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process {
    withName:'BWA_MEM' {
        container='oamd-bio-bwa:0.7.19_5006670_v7'
    }
    withName:'SEQTK_SAMPLE' {
        container='oamd-bio-seqtk:1.5_b5e2a16_v1'
    }
    withName:'VCF_QC' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'LANE_MERGE' {
        container='oamd-bio-ubuntu:24.04-neiss_4d62b38_v1'
    }
    withName:'DOWNSAMPLE_RATE' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'QC_REPORTSHEET' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'FASTQC_RAW' {
        container='oamd-bio-fastqc:0.12.1_539c059_v4'
    }
    withName:'FASTQC_POST' {
        container='oamd-bio-fastqc:0.12.1_539c059_v4'
    }
    withName:'MULTIQC' {
        container='oamd-bio-multiqc:1.31_e7da94b_v2'
    }
    withName:'PICARD_MARKDUPLICATES' {
        container='oamd-bio-picard:3.4.0_22c0b55_v6'
    }
    withName:'PICARD_CLEANSAM' {
        container='oamd-bio-picard:3.4.0_22c0b55_v6'
    }
    withName:'PICARD_FIXMATEINFORMATION' {
        container='oamd-bio-picard:3.4.0_22c0b55_v6'
    }
    withName:'PICARD_ADDORREPLACEREADGROUPS' {

        container='oamd-bio-picard:3.4.0_22c0b55_v6'
    }
    withName:'PICARD_CREATESEQUENCEDICTIONARY' {
        container='oamd-bio-picard:3.4.0_22c0b55_v6'
    }
    withName:'SAMTOOLS_VIEW' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_SORT' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_INDEX' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_FAIDX' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_STATS' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_IDXSTATS' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_FLAGSTAT' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_COVERAGE' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'SAMTOOLS_DEPTH' {
        container='oamd-bio-samtools:1.22.1_ec9692d_v7'
    }
    withName:'GATK4_COMBINEGVCFS' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'GATK4_INDEXFEATUREFILE' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'GATK4_LOCALCOMBINEGVCFS' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'GATK4_SELECTVARIANTS' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'GATK4_HAPLOTYPECALLER' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'GATK4_VARIANTFILTRATION' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'GATK4_GENOTYPEGVCFS' {
        container='oamd-bio-gatk:4.6.2.0_9fca45d_v4'
    }
    withName:'QC_REPORT' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'QC_PARSER' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'FILTER_GATK_GENOTYPES' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'VCF_TO_FASTA' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'SPLIT_VCF' {
        container='oamd-bio-bcftools:1.22_d46a188_v1'
    }
    withName:'VCF_CONSENSUS' {
        container='oamd-bio-bcftools:1.22_d46a188_v1'
    }
    withName:'BCFTOOLS_VIEW' {
        container='oamd-bio-bcftools:1.22_d46a188_v1'
    }
    withName:'BCFTOOLS_QUERY' {
        container='oamd-bio-bcftools:1.22_d46a188_v1'
    }
    withName:'BCFTOOLS_INDEX' {
        container='oamd-bio-bcftools:1.22_d46a188_v1'
    }
    withName:'SNPEFF_SNPEFF' {
        container='oamd-bio-snpeff:5.2f_c26dc7f_v8'
    }
    withName:'TABIX_BGZIPTABIX' {
        container='oamd-bio-htslib:1.23_e2485f0_v0'
    }
    withName:'SNPEFFR' {
        container='oamd-bio-cdcgov-snpeffr:1.1.1_67b2950_v0'
    }
    withName:'SEQKIT_PAIR' {
        container='oamd-bio-seqkit:2.12.0_21f2f85_v0'
    }
    withName:'SEQKIT_REPLACE' {
        container='oamd-bio-seqkit:2.12.0_21f2f85_v0'
    }
    withName:'SNPDISTS' {
        container='oamd-bio-snp-dists:0.8.2_3a24040_v5'
    }
    withName:'FASTTREE' {
        container='oamd-bio-fasttree:2.2.0_04a8296_v1'
    }
    withName:'QUICKSNP' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName:'RAPIDNJ' {
        container='oamd-bio-rapidnj:2.3.3_779f298_v4'
    }
    withName:'FAQCS' {
        container='oamd-bio-faqcs:2.12_26b5396_v0'
    }
    withName:'MICROREACTSHAPES' {
        container='oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName: 'SHOVILL' {
        container = 'oamd-bio-shovill:1.1.0_84c95bc_v5'
    }
    withName: 'GAMBIT_QUERY' {
        container = 'oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName: 'SUBTYPE' {
        container = 'oamd-bio-python:3.12-mycosnp_3445a2e_v0'
    }
    withName: 'PRE_MYCOSNP_INDV_SUMMARY' {
        container = 'oamd-bio-datasets:18.14.0_acac419_v3'
    }
    withName: 'PRE_MYCOSNP_COMB_SUMMARY' {
        container = 'oamd-bio-coreutils:9.5_7ba8413_v2'
    }
}
