executor {
  queueSize = 2
}

/*
========================================================================================
    Profiles - sge,short,gpu,highmem,singularity
========================================================================================
*/


singularity.runOptions = "-B /scicomp:/scicomp"

profiles {
  sge {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'all.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }

  short {
    process {
      queue       = 'short.q'
    }
  }

  gpu {
    process {
      queue       = 'gpu.q'
    }
  }

  highmem {
    process {
      queue       = 'highmem.q'
    }
  }

}
