/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run mycosnp -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input           = "https://raw.githubusercontent.com/CDCgov/oamd-bio-test-data/mycosnp/samplesheets/samplesheet.csv"
    metadata_csv    = "https://raw.githubusercontent.com/CDCgov/oamd-bio-test-data/mycosnp/samplesheets/phylogeny_metadata.csv"
    geolocation_csv = "https://raw.githubusercontent.com/CDCgov/oamd-bio-test-data/mycosnp/assets/geolocation.csv"

    // Genome references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/02195cfa96ca496173e9d63dd58e34bf02fcf55a/genome/NCTC13799.fna'

    min_depth = 2
}
