process {
    //withName: MICRORACTSHAPES { Container = }
    executor = 'local'
    resourceLimits = [
        cpus: 2,
        memory: '2.GB',
        time: '30.m'
    ]
}

params {
    // Value passed to -t in update_microreact_shapes.py (adjust if it expects a file path)
    test_samples = "B11842,B11858"
    enable_conda = false
}